/target
/lib
/classes
/checkouts
/resources/public/app/
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
log/
.lein-env
.\#*
.idea/
figwheel_server.log
.vagrant/
.nrepl-history
.\#*
